<ul id="navigator">
    <li><a ng-href="/#/events">Events</a></li>
    <li><a ng-href="/#/settings">Settings</a></li>
    <li><a ng-href="/#/trend">Trends</a></li>
</ul>


<ul class="legend">
    <li ng-click="toggleIt()">settings</li>
</ul>

<div class="settings" id="settings" hide-me="isHidden">
    <label for="">Period</label>
    <input type="text" value="day" />
    <label for="">Date</label>
    <input type="text" value="2013-12-21" />
    <input type="submit" value="search" />
</div>

<expander class="expander" expander-title="title">
    <highchart value="chartData" type="line" width="300" height="200"/>
</expander>

<expander class="expander" expander-title="title">
    <highchart value="chartData" type="line" width="300" height="200"/>
</expander>
